/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {


    /* header area */

    .header-area {
        background-position: 110%;
    }

    .navbar-brand img {
        max-width: 200px;
    }

    .navbar-nav li a {
        font-size: 15px;
        margin: 0 0 0 8px;
    }

    .nav-btn  {
      display: none;
      }

    /* diensten */

    .col-20 {
        width: 50%;
    }

    .diensten-content {
       margin-bottom: 20px;
    }

    /* Online */

    .online-img img {
        margin: 100px 0 0 0; 
    }

    .online-content h2 {
        font-size: 40px;
    }

    .online-content p:first-of-type{
        font-size: 18px;
    }

    .online-content p:last-of-type {
        font-size: 18px;
    }

     /* Reviwe Area Start */

     .reviwe-area {
        padding: 30px 30px;
    }

    
    .reviwe-title  h2{
        font-size: 42px;
        margin-bottom: 20px;
    }

    .reviwe-btn a {
        font-size: 15px;
        padding: 16px 62px 17px 24px;
    }

    .reviwe-btn {
        margin-bottom: 30px;
    }

    .main-content .owl-theme .test-content  {
        padding: 20px;  
    }

    .test-content h2 {
        font-size: 20px;
        margin: 15px 0;
    }

    .test-content p {
        font-size: 16px;
        text-align: justify;
    }

    .portfolio-area p {
        font-size: 16px;
        line-height: 28px;
        text-align: justify;
    }

   
    /* Blog */

    .blog-area {
        padding: 20px 0 30px 0;
    }

    .blog-btn-area h2 {
        font-size: 42px;
        margin: 0 0 25px 0;
    }

    .blog-btn a {
        font-size: 16px;
        padding: 17px 30px 15px 24px;
    }

    .blog-content {
       margin: 0 0 25px 0;
    }

    /* Choose Us */

    .choose-us {
        background: rgb(246,247,76); 
    }

    .choose-content {
        padding: 50px 0 0 0;
    }

    .choose-content h2 {
        font-size: 38px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .choose-content h2 br {
        display: none;
    }

    .choose-content p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .choose-card-area {
        padding: 50px 0;
    }

    .choose-box {
        padding: 30px 20px;
        margin-left: 0;
    }

    .choose-box h3 {
        font-size: 20px;
    }

    .choose-box h2 {
        font-size: 25px;
        line-height: 38px;
        margin: 10px 0;
    }

    .choose-box p {
        font-size: 15px;
        line-height: 28px;
    }
    
    .choose-box a {
        font-size: 16px;
        margin-top: 10px;
    }

    /* Footer */

    .footer-area {
        padding: 60px 0 0 0;
    }

    .get-in-area {
        border-radius: 0;
        padding: 20px;
    }

    .get-title h2 {
        font-size: 25px;
        line-height: 40px;
        margin: 40px 0 20px 0;
    }

    .get-form {
        border-radius: 0;
        padding: 15px 30px;
    }

    .get-form form input {
        font-size: 15px;
        padding: 40px 0 0 0;
        margin: 0 0 15px 0; 
    }

    .form-btn  {
        margin-top: 15px; 
    }

    .form-btn a {
        padding: 12px 13px;
        font-size: 14px;
        margin: 15px 0;
    }



      

   






























}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .header-area {
        background: none;
    }

    .inner-form input {
        width: 100%;
     }

     .nav-btn {
        display: inline-block;
    }

    .navbar-nav li a {
       padding: 20px 0;
    }

    .hero-area {
        padding:  0 0 70px 0;
    }

    .hero-footer {
        margin: 20px 0 0 0;
      }

      .hero-footer input {
        margin: 8px 25px 10px 0; 
    }

    /* diensten */

    .diensten-area {
        padding: 60px 0;
    }

    .col-20 {
        width: 50%;
    }

    .diensten-content {
       margin-bottom: 20px;
    }

     /* ONline-Success */

     .online-img img {
        margin: 40px 0 0 0;
    }

    .online-content {
        padding: 30px 0;
    }

    .online-content h2 {
        font-size: 32px;
        margin-bottom: 28px;
    }

    .online-content h2 br {
        display: none;
    }

    .online-content p:first-of-type{
        font-size: 16px;
    }

    .online-content p:last-of-type {
        font-size: 16px;
    }

      /* Reviwe Area Start */

      .reviwe-area {
        padding: 30px 30px;
    }

    
    .reviwe-title  h2{
        font-size: 42px;
        margin-bottom: 20px;
    }

    .reviwe-btn a {
        font-size: 15px;
        padding: 16px 62px 17px 24px;
    }

    .reviwe-btn {
        margin-bottom: 30px;
    }

    .main-content .owl-theme .test-content  {
        padding: 20px;  
    }

    .test-content h2 {
        font-size: 20px;
        margin: 15px 0;
    }

    .test-content p {
        font-size: 16px;
        text-align: justify;
    }

    .portfolio-area p {
        font-size: 16px;
        line-height: 28px;
        text-align: justify;
    }

   
    /* Blog */

    .blog-area {
        padding: 20px 0 30px 0;
    }

    .blog-btn-area h2 {
        font-size: 42px;
        margin: 0 0 25px 0;
    }

    .blog-btn a {
        font-size: 16px;
        padding: 17px 30px 15px 24px;
    }

    .blog-content {
       margin: 0 0 25px 0;
    }

    /* Choose Us */

    .choose-us {
        background: rgb(246,247,76); 
    }

    .choose-content {
        padding: 50px 0 0 0;
    }

    .choose-content h2 {
        font-size: 38px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .choose-content h2 br {
        display: none;
    }

    .choose-content p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .choose-card-area {
        padding: 50px 0;
    }

    .choose-box {
        padding: 30px 20px;
        margin-left: 0;
    }

    .choose-box h3 {
        font-size: 20px;
    }

    .choose-box h2 {
        font-size: 25px;
        line-height: 38px;
        margin: 10px 0;
    }

    .choose-box p {
        font-size: 15px;
        line-height: 28px;
    }
    
    .choose-box a {
        font-size: 16px;
        margin-top: 10px;
    }

    /* Footer */

    .footer-area {
        padding: 60px 0 0 0;
    }

    .get-in-area {
        background-color: #4771CF;
        border-radius: 0;
        padding: 20px;
        border: 15px solid #EEEDFF;
    }

    .get-title h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .get-form {
        border-radius: 0;
        padding: 15px 30px;
    }

    .get-form form input {
        font-size: 15px;
        padding: 8px 0;
        margin: 0 0 15px 0; 
    }

    .form-btn a {
        padding: 12px 20px 12px 24px;
        font-size: 15px;
        margin: 15px 0;
    }

    .footer-menu {
        padding: 40px 0 30px 0;
    }

    .footer-list ul li a {
        padding: 5px 0;
    }

    .footer-list {
        margin: 0 0 15px 0;
    }

    .footer-list ul h2 {
        font-size: 16px;
    }

    .blog-one h2 {
        margin: 10px 0;
    }
    .footer-img {
        margin: 15px 0 0 0;
    }
    
    





























}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {	

    /* Header Area */

  


























}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 767px) {

    /* Header area */

    .header-area {
        background: none;
    }

    .nav-btn {
        display: inline-block;
    }

    .nav-btn a {
        padding: 12px 72px 12px 24px;
    }

    .hero-area {
        padding:  0 0 50px 0;
    }
    
    .hero-content h2 {
        font-size: 48px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 32px;
    }

    .hero-form span {
       margin: 0 5px 0 0;
       font-size: 16px;
    }

    .inner-form input {
       width: 100%;
    }

    .hero-footer {
        margin: 20px 0 0 0;
    }

    .hero-footer h2 {
        font-size: 18px;
    }

    .hero-footer input {
        width: 100%;
    }

    .hero-btn {
        margin: 20px  0 0 0;  
    }



    /* diensten */

    .diensten-area {
        padding: 60px 0;
    }

    .col-20 {
        width: 100%;
    }

    .diensten-content {
       margin-bottom: 20px;
    }

    /* ONline-Success */

    .online-img img {
        margin: 40px 0 0 0;
    }

    .online-content {
        padding: 30px 0;
    }

    .online-content h2 {
        font-size: 32px;
        margin-bottom: 28px;
    }

    .online-content h2 br {
        display: none;
    }

    .online-content p:first-of-type{
        font-size: 16px;
    }

    .online-content p:last-of-type {
        font-size: 16px;
    }

    /* Reviwe Area Start */

    .reviwe-area {
        padding: 30px 30px;
    }

    
    .reviwe-title  h2{
        font-size: 42px;
        margin-bottom: 20px;
    }

    .reviwe-btn a {
        font-size: 15px;
        padding: 16px 62px 17px 24px;
    }

    .reviwe-btn {
        margin-bottom: 30px;
    }

    .main-content .owl-theme .test-content  {
        padding: 20px;  
    }

    .test-content h2 {
        font-size: 20px;
        margin: 15px 0;
    }

    .test-content p {
        font-size: 16px;
        text-align: justify;
    }

    /* Portfolio */

    .portfolio-area {
        padding: 40px 0;
    }

    .portfolio-area h3 {
        font-size: 22px;
    }

    .portfolio-area h2 {
        font-size: 32px;
        margin: 10px 0;
    }

    .portfolio-area p {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
    }

    .main-content2 {
        padding: 30px 50px 20px 50px;
    }

    .main-content2 h2 {
        font-size: 20px;
        margin-top: 15px;
    }

    .main-content2 a {
        font-size: 16px;
    }

    .owl-theme .owl-dots .owl-dot span {
        display: none;
    }

    .carousel-btnn {
        margin-left: 30px;   
    }

    .main-content2 .owl-theme .custom-nav .owl-prev i, .main-content2 .owl-theme .custom-nav .owl-next i {
        display: none;
    }

    /* Blog */

    .blog-area {
        padding: 20px 0 30px 0;
    }

    .blog-btn-area h2 {
        font-size: 42px;
        margin: 0 0 25px 0;
    }

    .blog-btn a {
        font-size: 16px;
        padding: 17px 30px 15px 24px;
    }

    .blog-content {
       margin: 0 0 25px 0;
    }

    /* Choose Us */

    .choose-us {
        background: rgb(246,247,76); 
    }

    .choose-content {
        padding: 50px 0 0 0;
    }

    .choose-content h2 {
        font-size: 38px;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .choose-content h2 br {
        display: none;
    }

    .choose-content p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .choose-card-area {
        padding: 50px 0;
    }

    .choose-box {
        padding: 30px 20px;
        margin-left: 0;
    }

    .choose-box h3 {
        font-size: 20px;
    }

    .choose-box h2 {
        font-size: 25px;
        line-height: 38px;
        margin: 10px 0;
    }

    .choose-box p {
        font-size: 15px;
        line-height: 28px;
    }
    
    .choose-box a {
        font-size: 16px;
        margin-top: 10px;
    }

    /* Footer */

    .footer-area {
        padding: 60px 0 0 0;
    }

    .get-in-area {
        background-color: #4771CF;
        border-radius: 0;
        padding: 20px;
        border: 15px solid #EEEDFF;
    }

    .get-title h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .get-form {
        border-radius: 0;
        padding: 15px 30px;
    }

    .get-form form input {
        font-size: 15px;
        padding: 8px 0;
        margin: 0 0 15px 0; 
    }

    .form-btn a {
        padding: 12px 20px 12px 24px;
        font-size: 15px;
        margin: 15px 0;
    }

    .footer-menu {
        padding: 40px 0 30px 0;
    }

    .footer-list ul li a {
        padding: 5px 0;
    }

    .footer-list {
        margin: 0 0 15px 0;
    }

    .footer-list ul h2 {
        font-size: 16px;
    }

    .blog-one h2 {
        margin: 10px 0;
    }
    .footer-img {
        margin: 15px 0 0 0;
    }
    
    .footer-img-list {
        margin-left: 0;
    }

    

    
    
    
    
    

    

   





























}